<!-- Step 1 -->
<!--h2>{{person.name | uppercase}} Details</h2>
<div><span>id: </span>{{person.id}}</div>
<div>
  <label for="name">Person name: </label>
  <input id="name" [(ngModel)]="person.name" placeholder="name">
</div-->

<!-- Step 2 & 3 -->
<h2 class="persons">Addressbook</h2>
<ul class="persons">
  <li *ngFor="let person of persons">           <!-- li: The host element. -->
                                                <!-- person: Holds the current hero object for each iteration through the list. -->
                                                <!-- persons: Holds the mock heroes list from the HeroesComponent class, the mock heroes list. -->
    <!-- Step 5 -->
    <a routerLink="/detail/{{person.id}}">
    <!--button [class.selected]="person === selectedPerson" type="button" (click)="onSelect(person)"-->
      <span class="badge">{{person.id}}</span> {{person.name}}
    </a>
      <!--span class="name">{{person.name}}</span>
    </button-->
  </li>
</ul>


<!-- Step 2 -->
<!--div *ngIf="selectedPerson">
  <h2>{{selectedPerson.name | uppercase}} Details</h2>
  <div>id: {{selectedPerson.id}}</div>
  <div>
    <label for="person-name">Person name: </label>
    <input id="person-name" [(ngModel)]="selectedPerson.name" placeholder="name">
  </div>
</div-->


<!-- Step 3 -->
<!--app-person-detail [person]="selectedPerson"></app-person-detail-->
